<div id="about">
    <section class="banner-container">
        <h1 class="text-uppercase">About Us</h1>
    </section>
    <section class="section-container">
        <div class="container" id="about-text">
            <p>
                At DataPi, we develop educational apps and offer these tools to non-profit and for-profit entities that operate after-school tutoring programs. We also provide highly trained tutors to work directly with students who struggle or wish to excel in English, French, Math, Sciences, or Social Studies.
                <br>
                <br>
                DataPi’s students and their parents expect quality tutoring and proven results within minimal time. To succeed, we strive to consistently deliver unparalleled services in the following:
                <br>
                <br>
                <strong>Providing highly trained tutors</strong>:
                <br>
                Tutoring is an unregulated industry plagued with many educators without sufficient tutoring experience. Self-proclaimed tutors without experiences or professional training easily fail to deliver quality and optimal help to their students. To address this challenge, DataPi, since 2000, has invested significant capital and time in developing the “Train-the-Trainer” program so that we can ensure the tutors we provide to our students are highly specialized, trained, and screened. Thus, optimal help can be given to our students more consistently. This enables us to further attract passionate tutors and help retain current talents due to the right combination of DataPi’s training and result-driven tutoring system.
                <br>
                <br>
                <strong>Building proven education apps</strong>:
                <br>
                The best and most effective surgeons today work with the latest technical and surgical tools. Without a doubt, after-school support programs too can also benefit greatly from the infusion of not just the latest but proven and highly utilized digital resources. At DataPi, we build proven software apps so tutors can easily and quickly access the most relevant resources or tutoring-specific content (be it a practice quiz, test, or specialized and high-impact resources). Tutoring operators have access to dedicated apps that enhance their day to day operations.
            </p>
        </div>
    </section>
</div>
