<div id="about">
    <section class="banner-container">
        <h1 class="text-uppercase">About Us</h1>
    </section>
    <section class="section-container">
        <div class="container" id="about-text">
            <p>
                At DataPi, we provide highly trained tutors to work with students who struggle or wish to excel in English, French, Math, Sciences, or Social Studies. We also develop specialized apps and offer these tools to freelance tutors as well as nonprofit and for-profit entities that operate after-school tutoring programs.
                <br>
                <br>
                DataPi’s students and their parents expect quality tutoring and proven results within minimal time. To succeed, we strive to consistently deliver unparalleled services in the following:
                <br>
                <br>
                <strong>Providing highly trained tutors</strong>:
                <br>
                <br>
                Tutoring is an unregulated industry plagued with many educators lacking tutoring experience. To address this issue, DataPi developed the "Train-the-Trainer" program, since 2000, to ensure the tutors we provide to our students are highly specialized, trained, and screened. Thus, optimal assistance can be provided to our students more consistently. This enables us to further attract passionate tutors and supplement their skills by applying a combination of DataPi’s training and results-driven tutoring system.
                <br>
                <br>
                <strong>Building proven education apps</strong>:
                <br>
                <br>
                Today’s best and most effective surgeons work with the latest technology and surgical tools. Without a doubt, after-school support programs can also benefit greatly from the infusion of not only the latest, but proven and highly tested digital resources. At DataPi, we build proven software apps so tutors can quickly and easily access the most relevant resources or tutoring-specific content (be it a practice quiz, test, or specialized, high-impact resources). Simply, we believe tutoring operators must have access to dedicated apps that enhance their day-to-day operations.
            </p>
        </div>
    </section>
</div>
