<div id="about">
    <section class="banner-container">
        <h1 class="text-uppercase">About Us</h1>
    </section>
    <section class="section-container">
        <div id="about-video">
            <iframe src="https://www.youtube.com/embed/ZgQ2ib7iUE4?wmode=opaque" frameborder="0" allowfullscreen align="middle"></iframe>
        </div>
        <div class="container" id="about-text">
            DataPi's new recruits have the opportunity to be exceptional at what they do. DataPi addresses the shortage of skilled tutors or teachers by transforming inexperienced recruits into exceptional educators. We strive to enable parents to become excellent homework helpers, as well.
            <br>
            <br> We constantly strive to recruit candidates with strong academic credentials and great communication skills. However, if their goal is to be high-impact educators who believe in providing deep learning outcomes for their students, they will need something more than their natural talents: <strong>systems</strong>.
            <br>
            <br> At DataPi, we always aim to deliver the best and most personalized education experience to small groups of students. This means building <strong>systems</strong> of dedicated educational resources for our team members, developing a highly refined <strong>systems</strong> of training that transfers expert knowledge to new recruits, which allows all of our tutors to gain from their more experienced peers. Since 2000, some of our staff members whose credentials range from bachelor's and master's of education in English, math, and sciences have helped contribute their ideas and background knowledge to our <strong>systems</strong>. This has made our training program and <strong>systems</strong> the most practical, effective, scalable, and cost-efficient in the world.
            <br>
            <br> See for yourself what makes staff and students thrive at DataPi! Enroll in our free trial program. We work with individual parents, freelance tutors, independent learning centres, non-governmental organizations, and schools, both public and private.
        </div>
    </section>
</div>
