<div id="trak">
    <section class="banner-container">
        <h1 class="text-uppercase">Trak</h1>
    </section>
    <section class="section-container text-center">
        <h3>DataPi's core product, TRAK, has been continuously improving and refining since 2000. The product today is a well-designed Customer Relationship Management app, where critical features are optimized.</h3>
    </section>
    <section class="section-container container-blue text-center text-white">
        <h4>For a free demo or a 6-month free trial, freelance tutors or representatives of educational centres and school are welcome to contact our agents today.</h4>
    </section>
</div>