<div id="boostik" ng-init="vm.initSlides()">
    <section class="banner-container">
        <h1 class="text-uppercase">Boostik</h1>
    </section>
    <section class="section-container text-center">
        <h4>Boostik worksheets are minute-math-like exercises that guarantee learning retention. Boostik has topics in English, Math, and Science for all levels.</h4>
        <button class="btn boost-btn" ng-click="vm.goToWorksheets()"><i class="caret"></i>&nbspWorksheet Samples Below&nbsp<i class="caret"></i></button>
        <img src="assets/img/boostik_logo.png" alt="">
        <h3>Call <a href="tel:+16047070357">(604) 707-0357</a> or email <a href="mailto:free_trial@datapi.com">free_trial@datapi.com</a> for a free trial.</h3>
        <div class="video-frame">
            <div class="video-overlay" ng-hide="vm.hideOverlay" ng-click="vm.hideOverlay = !vm.hideOverlay"></div>
            <iframe src="https://www.youtube.com/embed/q8byZ5t0jAQ?autoplay=1" frameborder="0" allowfullscreen align="middle" ng-if="vm.hideOverlay"></iframe>
        </div>
    </section>
    <section class="container-fluid container-blue">
        <div class="info-container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="img-block">
                        <h4 class="text-uppercase">Material for every essential topic</h4>
                        <img src="assets/img/boostik_book.png" alt="">
                        <p>From grade 2 to 12, we've got you covered. Our Boostik Worksheet System is carefully engineered to be highly engaging.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="img-block">
                        <h4 class="text-uppercase">Professional-Quality Material</h4>
                        <img src="assets/img/boostik_tools.png" alt="">
                        <p>Since 2000, we have been designing and improving our highly specialized educational resources that can quickly bring great results to students who wish to excel in Math, English, and Science.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-container" id="worksheets">
        <div class="preview-slides" ng-swipe-left="vm.nextSlide()" ng-swipe-right="vm.prevSlide()">
            <button class="slides-nav" ng-click="vm.prevSlide()"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <img draggable="false" ng-src="{{p}}" ng-repeat="p in vm.activeSlides" ng-click="vm.previewModal(p)">
            <button class="slides-nav" ng-click="vm.nextSlide()"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </section>
</div>
<script type="text/ng-template" id="worksheetModal.html">
    <div class="modal-body" id="worksheet-preview">
        <img ng-src="{{img}}" alt="">
    </div>
</script>