<div id="boostik" ng-init="vm.initSlides()">
    <section class="banner-container">
        <h1 class="text-uppercase">Boostik</h1>
    </section>
    <section class="section-container">
        <div class="row">
            <div class="col-sm-5 text-center">
                <img src="assets/img/ws_samples.png" alt="">
            </div>
            <div class="col-sm-7 text-left">
                <h3 class="page-header text-center">Highly specialized educational resources to enhance learning</h3>
                <h4>Boostik worksheets enhance foundational skills and guarantee learning retention. The minute-driven, worksheet exercises are common tools used frequently by educators as they are proven to be highly effective and engaging for students.</h4>
                <br>
                <h4>Boostik app generates quality worksheets, covering a diverse range of topics, in English, Math, and Science from grades 2 to 12. This cloud-based software is highly user-friendly and is especially engineered to provide after-school support to students who lack strong foundational knowledge.</h4>
                <button class="btn boost-btn" ng-click="vm.goToWorksheets()"><i class="caret"></i>&nbspWorksheet Samples Below&nbsp<i class="caret"></i></button>
            </div>
        </div>
    </section>
    <section class="section-container container-blue text-center">
        <h3 class="text-white">For a free demo or a 6-month free trial, parents, freelance tutors, or representatives from educational centres and schools are welcome to contact our sales agents today.</h3>
    </section>
    <section class="section-container text-center">
        <div class="video-frame">
            <div class="video-overlay" ng-hide="vm.hideOverlay" ng-click="vm.scrolltoVideo()"></div>
            <iframe src="https://www.youtube.com/embed/q8byZ5t0jAQ?autoplay=1" frameborder="0" allowfullscreen align="middle" ng-if="vm.hideOverlay"></iframe>
        </div>
    </section>
    <section class="container-fluid container-blue">
        <div class="info-container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="img-block">
                        <h3 class="text-uppercase">Material for every essential topic</h3>
                        <img src="assets/img/boostik_book.png" alt="">
                        <p>From grade 2 to 12, we've got you covered. Our Boostik Worksheet System is carefully engineered to be highly engaging.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="img-block">
                        <h3 class="text-uppercase">Professional-Quality Material</h3>
                        <img src="assets/img/boostik_tools.png" alt="">
                        <p>Since 2000, we have been designing and improving our highly specialized educational resources that can quickly bring great results to students who wish to excel in Math, English, and Science.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-container" id="worksheets">
        <div class="preview-slides" ng-swipe-left="vm.nextSlide()" ng-swipe-right="vm.prevSlide()">
            <button class="slides-nav" ng-click="vm.prevSlide()"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <img draggable="false" ng-src="{{p}}" ng-repeat="p in vm.activeSlides" ng-click="vm.previewModal(p)">
            <button class="slides-nav" ng-click="vm.nextSlide()"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </section>
</div>
<script type="text/ng-template" id="worksheetModal.html">
    <div class="modal-body" id="worksheet-preview">
        <img ng-src="{{img}}" alt="">
    </div>
</script>
