<div id="error">
    <meta http-equiv="refresh" content="5;URL='/'">
    <section>
        <div class="row">
            <i class="glyphicon glyphicon-remove-circle"></i>
            <i class="glyphicon glyphicon-remove-circle invisible"></i>
            <i class="glyphicon glyphicon-remove-circle"></i>
        </div>
        <div class="row invisible">
            <i class="glyphicon glyphicon-remove-circle"></i>
            <i class="glyphicon glyphicon-remove-circle"></i>
        </div>
        <div class="row t-lip">
            <i class="glyphicon glyphicon-remove-circle"></i>
            <i class="glyphicon glyphicon-remove-circle invisible"></i>
            <i class="glyphicon glyphicon-remove-circle invisible"></i>
            <i class="glyphicon glyphicon-remove-circle invisible"></i>
            <i class="glyphicon glyphicon-remove-circle invisible"></i>
            <i class="glyphicon glyphicon-remove-circle"></i>
        </div>
        <div class="row b-lip">
            <i class="glyphicon glyphicon-remove-circle invisible"></i>
            <i class="glyphicon glyphicon-remove-circle"></i>
            <i class="glyphicon glyphicon-remove-circle"></i>
            <i class="glyphicon glyphicon-remove-circle"></i>
            <i class="glyphicon glyphicon-remove-circle"></i>
            <i class="glyphicon glyphicon-remove-circle invisible"></i>
        </div>
        <h1>Nothing to see here.</h1>
        <h1>Redirecting in 5...</h1>
    </section>
</div>
