<div id="partner">
    <section class="banner-container">
        <h1 class="text-uppercase">Partnership</h1>
    </section>
    <section class="section-container text-center">
        <h3>Become DataPi's business partner.</h3>
    </section>
    <section class="container-fluid container-blue">
        <div class="info-container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="img-block">
                        <img src="assets/img/partnership_prepare.png" alt="">
                        <p>DataPi will prepare and position you to be the very best.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-block">
                        <img src="assets/img/partnership_support.png" alt="">
                        <p>Check out DataPi's world class infrastructure support.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-block">
                        <img src="assets/img/partnership_marketing.png" alt="">
                        <p>Get access to DataPi's sales and marketing team and generate instant revenue.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-container text-center">
        <h3>Planning to start a mobile/home-based business or an in-centre walk-in for afterschool tutoring? Contact our agents today.</h3>
    </section>
</div>