<div id="daycamp">
    <section class="banner-container">
        <h1 class="text-uppercase">Day Camps</h1>
    </section>
    <section class="section-container text-center">
        <h3>Looking for a balanced way for your child to spend spring or summer break?</h3>
    </section>
    <section class="section-container container-green">
        <div class="card-container">
            <p>FINDING THE RIGHT BALANCE! Our camps explore robotics, coding, and physical education in conjunction with math, English, and science in a fun, interactive, but also highly educational environment.</p>
            <p style="font-size: 1.7rem;">
                Half-Day 8:30-11:30 Mon to Fri $180/Week
                <br>
                Half-Day 12:00-3:00 Mon to Fri $180/Week
                <br>
                Full-Day 8:30-3:00 Mon to Fri $375/Week
            </p>
            <p>One and six week camping options for children ages 8-13 are available. Receive sibling discounts or register early to take advantage of early bird rates.</p>
        </div>
    </section>
    <section class="section-container container-orange">
        <div class="card-container">
            <h3>Why attend a DataPi camp?</h3>

            <p>Having been in the tutoring business since 2000, we have mastered the art of effectively teaching material of all subjects and difficulty levels to students of all ages.</p>

            <p>Instead of using the STEM strategy, we utilize STEEM (Science, Technology, Engineering, English, and Math) to provide your child with a more well-rounded education.</p>

            <p>We begin coding lessons in Scratch and robotics lessons with LEGO and similar products, and move towards integrating the two through the construction and control of programmable robots in order to maximize your child’s learning potential.</p>

            <p>We at DataPi recognize the importance of math and science, but more importantly we acknowledge the value of great communication skills. Thus we ensure advanced students are taught writing & comprehension skills and beginners learn reading, grammar, and writing techniques to improve students’ mastery of English.</p>

            <p>In between educational activities, DataPi’s day camp includes visits to a nearby park for light and fun physical activities.</p>
        </div>
    </section>
</div>