<div id="hubble">
    <section class="banner-container">
        <h1 class="text-uppercase">Hubble</h1>
    </section>
    <section class="section-container text-center">
        <h4>Dedicated app incubated since 2000, is developed specifically to anticipate the problems and the needs of tutors. Hubble aims to provide instant access to tutoring-specific materials with exceptionally high relevance.</h4>
    </section>
    <section class="section-container container-blue text-center text-white">
        <h4>For a free demo or a 6-month free trial, freelance tutors or representatives of educational centres or schools are welcome to contact our agents today.</h4>
    </section>
    <section class="section-container text-center">
        <div class="video-frame">
            <!-- <div class="video-overlay" ng-hide="vm.hideOverlay" ng-click="vm.scrolltoVideo()"></div>
            <iframe src="https://www.youtube.com/embed/dO3SmIoFeu8?autoplay=1" frameborder="0" allowfullscreen align="middle" ng-if="vm.hideOverlay"></iframe> -->
            
        </div>
    </section>
</div>