@media (max-width: 496px) {
    #boostik h3 {
        font-size: 18px !important;
    }
    #boostik h4 {
        font-size: 15px !important;
    }
    #boostik .section-container .preview-slides img {
        width: 75% !important;
    }
    #boostik .img-block img {
        width: 40% !important;
        margin: 0.5em 0 1em 0;
    }
    #boostik .banner-container img {
        height: 6rem !important;
    }
}

@media (max-width: 786px) {
    #boostik .section-container img {
        width: 100%;
    }
    #boostik .preview-slides img {
        width: 50% !important;
    }
    #boostik .col-sm-5 img {
        width: 80% !important;
    }
}

@media (max-width: 1200px) {
    #boostik.img-block img {
        width: 100% !important;
        height: auto !important;
    }
}

#boostik .banner-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("assets/img/boostik_banner_2.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, top;
    align-items: center;
    justify-content: center;
}

#boostik .banner-container img {
    height: 8rem;
    width: auto;
}

#boostik .video-overlay {
    background-image: url("assets/img/play_button_sm.png"), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("assets/img/boostik_video.jpg");
}

#boostik .preview-slides {
    display: flex;
    justify-content: center;
    align-items: center;
}

#boostik .preview-slides img {
    width: 25%;
    margin: 0 1em;
    overflow: hidden;
}

#boostik .preview-slides img:hover {
    cursor: pointer;
}

#boostik .preview-slides .slides-nav {
    background-color: transparent;
    padding: 0.45em 0.65em 0.75em 0.65em;
    border: 0;
    border-radius: 100px;
}

#boostik .preview-slides .slides-nav i {
    font-size: 24px;
}

#boostik .preview-slides .slides-nav:focus {
    outline: 0;
}

#boostik .preview-slides .slides-nav:hover {
    background-color: #137cbf;
    outline: 0;
    color: white;
}

#boostik .boost-btn {
    padding: 12px 20px ;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    display: block;
    text-align: center;
    margin: auto;
}

#boostik .boost-btn:hover {
    font-weight: 600;
}

#boostik .boost-btn:focus {
    outline: 0;
    box-shadow: none;
}

#boostik .boost-btn a:visited {
    color: white;
}

#worksheet-preview img {
    width: 100%;
}

#boostik section:nth-of-type(2) .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

#boostik .section-container .col-sm-5 img {
    width: 100%;
}

/* ANIMATIONS */

#boostik .section-container .row .col-sm-5 img {
    animation: fade-in 500ms ease-out 1s both;
}

#boostik .section-container .row .col-sm-7 h3 {
    animation: fade-in 500ms ease-out 1.2s both;
}

#boostik .section-container .row .col-sm-7 h4 {
    animation: fade-in 500ms ease-out 1.4s both;
}

#boostik .boost-btn {
    animation: fade-in-bounce 500ms ease-out 1.6s both;
}

#boostik .section-container.container-blue h3.text-white {
    animation: fade-in 500ms ease-out 1.8s both;
}

#boostik .video-overlay {
    animation: round-grow 800ms linear 2s both;
}

#boostik .img-block img {
    animation: fade-in 500ms ease-out 2.4s both;
}

#boostik .img-block h4, 
#boostik .img-block p {
    animation: fade-in 500ms ease-out 2.6s both;
}

#boostik .preview-slides {
    animation: fade-in 500ms ease-out 3s both;
}

#boostik .preview-slides img.ng-enter {
    animation: fade-in-pulse 800ms ease-out;
}