@media (max-width: 496px) {
    #careers .section-container {
        padding: 1em !important;
    }
    #careers .container-fluid {
        padding: 0 !important;
    }
}

@media (max-width: 768px) {
    #careers #careers-text {
        padding: 1em !important;
    }
    #careers #careers-text h4 {
        font-size: 1em !important;
    }
}

@media (max-width: 968px) {
    #careers .card {
        min-height: 10em !important;
        max-height: 10em !important;
    }
    #careers .card h2 {
        font-size: 20px !important;
    }
    #careers #careers-text h4 {
        font-size: 1.2em;
    }
}

#careers .banner-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../img/careers_banner.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, 50% 75%;
}

#careers .page-header {
    text-align: center;
}

#careers #careers-text {
    padding: 3em 5em;
    text-align: center;
}

#careers h5 {
    margin-top: 0;
    margin-bottom: 5px;
}

/* ANIMATIONS */

#careers .col-sm-4:first-child .card {
    animation: zoom-in 500ms ease-out 1s both;
}

#careers .col-sm-4:nth-child(2) .card {
    animation: zoom-in 500ms ease-out 1.3s both;
}

#careers .col-sm-4:nth-child(3) .card {
    animation: zoom-in 500ms ease-out 1.6s both;
}

#careers #careers-text {
    animation: fade-in 500ms ease-out 2s both;
}

#careers .page-header {
    animation: fade-in 500ms ease-out 2.3s both;
}

#careers .col-sm-6:first-child .profile {
    animation: fade-in-left 500ms ease-out 2.5s both;
}

#careers .col-sm-6:nth-child(2) .profile {
    animation: fade-in-right 500ms ease-out 2.5s both;
}