@media (max-width: 496px) {
    #daycamp .img-block img {
        width: 50% !important;
    }
}

@media (max-width: 992px) {
    #daycamp .img-block img {
        width: 50%;
        height: auto !important;
    }
}

#daycamp .banner-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("assets/img/daycamp_banner.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, 50% 75%;
}

#daycamp .card-container {
    font-size: 1.5rem;
    margin: 0 auto;
    border-radius: 2px;
    width: 70%;
    background-color: rgb(255,255,255);
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
}

#daycamp .card-container h3 {
    margin-top: 0;
    margin-bottom: 1em;
}

#daycamp section:nth-of-type(2) {
    animation: fade-in 500ms ease-out 1s both;
}

#daycamp section:nth-of-type(3) .card-container {
    animation: fade-in 500ms ease-out 1.3s both;
}

#daycamp section:nth-of-type(4) .card-container {
    animation: fade-in 500ms ease-out 1.6s both;
}