<div id="apps">
    <section class="banner-container">
        <h1 class="text-uppercase">Apps</h1>
    </section>
    <section class="section-container text-center">
        <h3>At DataPi, we build proven apps.</h3>
    </section>
    <section class="container-fluid container-green">
        <div class="info-container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="img-block">
                        <img src="assets/img/apps_build.png" alt="">
                        <p>We strive to build high-value apps for poetry, foundational math, science, language arts and critical administrative tasks for after school learning services.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-block">
                        <img src="assets/img/apps_student.png" alt="">
                        <p>We ensure our apps are effective and engaging to students and facilitators.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-block">
                        <img src="assets/img/apps_world.png" alt="">
                        <p>DataPi's apps are easy to use and help instructors and administrators facilitate effective learning anywhere in the world.</p>
                    </div>
                </div>
            </div>
    </section>
    <section class="section-container text-center">
        <h3>Students and parents discover that our digital infrastructure greatly reduce their tuition costs and maximize results. With exceptional training & learning resources, our instructors and partners are more effective and passionate about helping students.</h3>
    </section>
</div>
