<div id="home" ng-init="vm.loadLocations()">
    <section>
        <div class="carousel-container">
            <uib-carousel active="0" interval="5000">
                <uib-slide ng-repeat="slide in vm.slides track by $index" index="$index" ng-click="vm.goTo(slide.url)">
                    <div class="slide-img" ng-class="slide.class"></div>
                    <div class="carousel-caption">
                        <h1 class="text-uppercase">{{slide.title}}</h1>
                        <h3>{{slide.subtitle}}</h3>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>
    </section>
    <section class="section-container text-center">
        <h2>{{'AD_INTRO' | translate}}</h2>
    </section>
    <section id="about-header" class="text-center">
        <h2>{{'AD_HEAD' | translate}}</h2>
    </section>
    <section id="about">
        <div class="corner card-blue" ng-class="{'show-corner': vm.corner == 0}">
            <h2>{{'AD_1' | translate}}</h2>
        </div>
        <div class="corner card-orange" ng-class="{'show-corner': vm.corner == 1}">
            <h2>{{'AD_2' | translate}}</h2>
        </div>
        <div class="corner card-green" ng-class="{'show-corner': vm.corner == 2}">
            <h2>{{'AD_4' | translate}}</h2>
        </div>
        <div class="corner card-red" ng-class="{'show-corner': vm.corner == 3}">
            <h2>{{'AD_3' | translate}}</h2>
        </div>
    </section>
    <section class="section-container container-blue" id="home-contact">
        <div class="row">
            <div>
                <ng-map id="home-map" center="{{vm.mapCenter}}" zoom="12" scrollwheel="false">
                    <marker id="datapi-{{$index}}" position="{{l.lat}}, {{l.lng}}" ng-repeat="l in vm.locations" on-click="vm.showDetail(l, $index)"></marker>
                    <info-window id="datapi-info">
                        <div>
                            <h4 class="firstHeading">{{vm.loc.name}}</h4>
                            <p>{{vm.loc.address}}
                                <br>{{vm.loc.address2}}
                                <br>English/Tiếng Việt: {{vm.loc.phone}}
                                <br><span ng-show="vm.loc.phone2">中文: {{vm.loc.phone2}}</span>
                            </p>
                        </div>
                    </info-window>
                </ng-map>
            </div>
            <div class="locations" ng-swipe-left="vm.nextSlide()" ng-swipe-right="vm.prevSlide()">
                <button class="slides-nav" ng-click="vm.prevSlide()" ng-class="{'hide-nav-btn': vm.numLocations >= vm.locations.length}"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <div class="location-text" ng-repeat="l in vm.activeLocations" ng-click="vm.showDetailCenter(e, l, $index)" ng-class="{'active-loc': l == vm.loc}">
                    <h4 class="text-uppercase"><strong>{{l.name}}</strong></h4>
                    <h5>{{l.address}}</h5>
                    <h5>{{l.address2}}</h5>
                    <h5>{{l.phone}}</h5>
                    <h5>{{l.email}}</h5>
                    <h5 class="padding-top">{{'MON_TO_THURS' | translate}}: {{l.hoursMT}}</h5>
                    <h5>{{'SATURDAY' | translate}}: {{l.hoursSa}}</h5>
                    <h5>{{'SUNDAY' | translate}}: {{l.hoursSu}}</h5>
                </div>
                <button class="slides-nav" ng-click="vm.nextSlide()" ng-class="{'hide-nav-btn': vm.numLocations >= vm.locations.length}"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </div>
        </div>
    </section>
</div>
