<div id="home">
    <section>
        <div class="carousel-container">
            <uib-carousel active="0" interval="7000">
                <uib-slide ng-repeat="slide in vm.slides track by $index" index="$index">
                    <div class="slide-img" ng-class="slide.class"></div>
                    <div class="carousel-caption">
                        <h1 class="text-uppercase">{{slide.title}}</h1>
                        <h3>{{slide.subtitle}}</h3>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>
    </section>
    <section class="section-container container-blue" id="home-contact">
        <div class="row">
            <div class="col-lg-7">
                <div map-lazy-load="{{vm.mapUrl}}">
                    <ng-map center="49.255859, -123.088425" zoom="18">
                        <marker id="datapi" position="49.255859, -123.088425"></marker>
                        <info-window visible-on-marker="datapi">
                            <div>
                                <h4 class="firstHeading">DataPi Learning Center</h4>
                                <p>772 Kingsway
                                    <br>Vancouver, BC, V5V 3C1
                                    <br>English/Tiếng Việt: (604) 707-0357
                                    <br>中文: (604) 418-8347
                                </p>
                            </div>
                        </info-window>
                    </ng-map>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="text-block padding-top">
                    <h4>772 Kingsway</h4>
                    <h4>Vancouver, BC, V5V 3C1</h4>
                    <h4>admin@datapi.com</h4>
                    <h3 class="text-uppercase padding-top"><strong>{{'OFFICE_HOURS' | translate}}</strong></h3>
                    <h4 class="padding-top">{{'MON_TO_THURS' | translate}}: 12:00 P.M. to 8:00 P.M.</h4>
                    <h4>{{'SATURDAY' | translate}}: 9:30 A.M. to 4:00 P.M.</h4>
                    <h4>{{'SUNDAY' | translate}}: 11:00 A.M. to 3:00 P.M.</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="section-container container-green" id="about">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/success_icon.png" alt="">
                <img src="assets/img/tutoring_icon.png" alt="">
                <img src="assets/img/book_icon.png" alt="">
            </div>
            <div class="col-lg-6">
                <p>{{'AD_INTRO' | translate}}</p>
                <p>{{'AD_HEAD' | translate}}</p>
                <ul>
                    <li>{{'AD_1' | translate}}</li>
                    <li>{{'AD_2' | translate}}</li>
                    <li>{{'AD_3' | translate}}</li>
                    <li>{{'AD_4' | translate}}</li>
                </ul>
            </div>
        </div>
    </section>
</div>
