<div id="coding">
    <section class="banner-container">
        <h1 class="text-uppercase">Coding</h1>
    </section>
    <section class="section-container text-center">
        <h3>Learn coding and robotics with our specialized program.</h3>
    </section>
    <section class="section-container container-green text-center">
        <h3>2 students per instructor - $90/4 weeks</h3>
    </section>
    <section class="container-fluid container-blue">
        <div class="info-container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="img-block">
                        <img src="assets/img/coding_code.png" alt="">
                        <p>We endeavor to teach children ages 8-13 the foundations of coding and robotics through fun activities, including creating games, making motorized contraptions, programming robots, and building codes.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="img-block">
                        <img src="assets/img/coding_robotics.png" alt="">
                        <p>Our program effectively integrates the fundamentals of coding and robotics through our specialized combination of informative lessons and hands on learning.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>