<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" aria-expanded="false" ng-click="hm.isCollapsed = !hm.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand show-xxs"><a href="/">DataPi</a></div>
            <a href="/"><img class="navbar-logo" src="assets/img/logo.png"></a>
            <ul class="nav navbar-nav navbar-right" id="languages">
                <div id="languages-dropdown" class="hidden-lg hidden-md hidden-sm" uib-dropdown is-open="hm.isOpen3" keyboard-nav>
                    <button class="btn btn-default" uib-dropdown-toggle>{{currentLanguage}} <i class="caret"></i></button>
                    <ul uib-dropdown-menu role="menu">
                        <li ng-repeat="l in hm.languages"><a href="" ng-click="hm.changeLanguage(l)">{{l.lang}}</a></li>
                    </ul>
                </div>
            </ul>
        </div>
        <div class="sub-nav phone">
            <a href="tel:+16047070357">(604) 707-0357</a>
        </div>
        <ul class="collapsed-menu" uib-collapse="hm.isCollapsed">
            <li role="menuitem">
                <a href="/" ng-click="hm.isCollapsed = !hm.isCollapsed">Home</a>
            </li>
            <li role="menuitem">
                <a href="/about" ng-click="hm.isCollapsed = !hm.isCollapsed">About</a>
            </li>
            <li role="menuitem">
                <a href="/careers" ng-click="hm.isCollapsed = !hm.isCollapsed">Careers</a>
            </li>
            <li role="menuitem">
                <a href="/contact" ng-click="hm.isCollapsed = !hm.isCollapsed">Contact</a>
            </li>
            <li role="menuitem">
                <a id="simple-dropdown" role="button" ng-click="hm.isCollapsed2 = !hm.isCollapsed2">Services
                    <span class="caret"></span>
                </a>
            </li>
            <ul class="collapsed-menu" uib-collapse="hm.isCollapsed2">
                <li>
                    <a href="/tutoring" ng-click="hm.isCollapsed = !hm.isCollapsed">Tutoring</a>
                </li>
                <li>
                    <a href="/apps" ng-click="hm.isCollapsed = !hm.isCollapsed">Apps</a>
                </li>
                <li>
                    <a href="/coding" ng-click="hm.isCollapsed = !hm.isCollapsed">Coding</a>
                </li>
                <li>
                    <a href="/litmaster" ng-click="hm.isCollapsed = !hm.isCollapsed">Poetry Help</a>
                </li>
                <li>
                    <a href="/boostik" ng-click="hm.isCollapsed = !hm.isCollapsed">Worksheets</a>
                </li>
                <li>
                    <a href="/hubble" ng-click="hm.isCollapsed = !hm.isCollapsed">Resources</a>
                </li>
                <li>
                    <a href="/trak" ng-click="hm.isCollapsed = !hm.isCollapsed">Admin</a>
                </li>
                <li>
                    <a href="/partner" ng-click="hm.isCollapsed = !hm.isCollapsed">Partnership</a>
                </li>
            </ul>
            <li role="menuitem" id="collapsed-languages" ng-click="hm.isCollapsed = !hm.isCollapsed">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default" ng-repeat="l in hm.languages" ng-click="hm.changeLanguage(l)" ng-class="{'active': currentLanguage == l.locale}">{{l.lang}}</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="languages-list">
            <li ng-repeat="l in hm.languages"><a href="" ng-click="hm.changeLanguage(l)" ng-class="{'active': currentLanguage == l.locale}">{{l.lang}}</a></li>
            <li class="phone">
                <a href="tel:+16047070357">(604) 707-0357</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid sub-nav">
        <ul class="nav navbar-nav">
            <li role="menuitem">
                <a href="/">Home</a>
            </li>
            <li role="menuitem">
                <a href="/about">About</a>
            </li>
            <li role="menuitem">
                <a href="/careers">Careers</a>
            </li>
            <li role="menuitem">
                <a href="/contact">Contact</a>
            </li>
            <li id="services-dropdown" uib-dropdown is-open="hm.isOpen" role="menuitem" ng-mouseover="hm.isOpen = true" ng-mouseleave="hm.isOpen = false">
                <a id="simple-dropdown" role="button" uib-dropdown-toggle>Services
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li>
                        <a href="/tutoring">Tutoring</a>
                    </li>
                    <li>
                        <a href="/apps">Apps</a>
                    </li>
                    <li>
                        <a href="/coding">Coding</a>
                    </li>
                    <li>
                        <a href="/litmaster">Poetry Help</a>
                    </li>
                    <li>
                        <a href="/boostik">Worksheets</a>
                    </li>
                    <li>
                        <a href="/hubble">Resources</a>
                    </li>
                    <li>
                        <a href="/trak">Admin</a>
                    </li>
                    <li>
                        <a href="/partner">Partnership</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
