<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" aria-expanded="false" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand show-xxs">DataPi</div>
            <img class="navbar-logo" src="assets/img/logo.png">
        </div>
        <ul class="collapsed-menu" uib-collapse="!isCollapsed">
            <li role="menuitem">
                <a href="/">Home</a>
            </li>
            <li role="menuitem">
                <a href="/about">About</a>
            </li>
            <li role="menuitem">
                <a href="/careers">Careers</a>
            </li>
            <li role="menuitem">
                <a href="/contact">Contact</a>
            </li>
            <li role="menuitem">
                <a id="simple-dropdown" role="button" ng-click="isCollapsed2 = !isCollapsed2">Services
                    <span class="caret"></span>
                </a>
            </li>
            <ul class="collapsed-menu" uib-collapse="!isCollapsed2">
                <li>
                    <a href="/tutoring">Tutoring</a>
                </li>
                <li>
                    <a href="/litmaster">Poetry Help</a>
                </li>
                <li>
                    <a href="/boostik">Worksheets</a>
                </li>
            </ul>
        </ul>
        <ul class="nav navbar-nav">
            <li role="menuitem">
                <a href="/">Home</a>
            </li>
            <li role="menuitem">
                <a href="/about">About</a>
            </li>
            <li role="menuitem">
                <a href="/careers">Careers</a>
            </li>
            <li role="menuitem">
                <a href="/contact">Contact</a>
            </li>
            <li uib-dropdown is-open="isOpen" role="menuitem" ng-mouseover="isOpen = true">
                <a id="simple-dropdown" role="button" uib-dropdown-toggle>Services
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li>
                        <a href="/tutoring">Tutoring</a>
                    </li>
                    <li>
                        <a href="/litmaster">Poetry Help</a>
                    </li>
                    <li>
                        <a href="/boostik">Worksheets</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
