<div id="tutoring">
    <section class="banner-container">
        <h1 class="text-uppercase">Tutoring</h1>
    </section>
    <section class="section-container text-center">
        <h3>Need help with Math, English, Sciences, Social Studies, or French?</h3>
        <div class="video-frame">
            <!-- <div class="video-overlay" ng-hide="vm.hideOverlay" ng-click="vm.scrolltoVideo()"></div>
            <iframe src="https://www.youtube.com/embed/dO3SmIoFeu8?autoplay=1" frameborder="0" allowfullscreen align="middle" ng-if="vm.hideOverlay"></iframe> -->
            <iframe src="https://www.youtube.com/embed/dO3SmIoFeu8" frameborder="0" allowfullscreen align="middle"></iframe>
        </div>
    </section>
    <section class="container-fluid container-orange">
        <div class="info-container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="img-block">
                        <img src="assets/img/tutoring_tutoring.png" alt="">
                        <p>Tutoring services for grades K to 1st year undergrad with access to highly trained tutors, laptops, DataPi's custom-tailored tutoring apps, and quality educational resources.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-block">
                        <img src="assets/img/tutoring_pricing.png" alt="">
                        <p>Flexible pricing options for different group sizes. Save by learning with friends or siblings.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-block">
                        <img src="assets/img/tutoring_visit.png" alt="">
                        <p>In-centre and on-site visits (home, library, or community centre)</p>
                    </div>
                </div>
            </div>
    </section>
    <section class="container-fluid container-green">
        <div class="info-container text-center">
            <h2>Get up to 2 free trial sessions!</h2>
            <h5>We are committed to:</h5>
            <h4>Developing dedicated tutoring apps and highly specialized resources to support and enable DataPi’s tutors to be their very best.</h4>
            <h4>Building a safe, supportive, friendly, and engaging environment for students.</h4>
            <h4>Finding talented and passionate tutors.</h4>
            <h4>Providing highly trained tutors.</h4>
        </div>
    </section>
    <section class="section-container text-center">
        <h3>See for yourself what makes students thrive at DataPi. Call us for up to two free trial sessions.</h3>
    </section>
    </div>
