@media (max-width: 496px) {
    #about .section-container #about-video {
        height: 40vh !important;
    }
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
    #about #about-video iframe {
        width: 100% !important;
    }
    #about #about-text {
        width: 100% !important;
    }
    #about #about-video {
        height: 60vh !important;
    }
}

#about .banner-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../img/about_banner.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

#about #about-video {
    text-align: center;
    height: 60vh;
}

#about #about-video iframe {
    width: 70%;
    height: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
}

#about #about-text {
    margin-top: 1em;
    border-radius: 2px;
    width: 70%;
    background-color: rgba(255,255,255,0.4);
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
}