@import url('https://fonts.googleapis.com/css?family=Roboto');

@media (max-width: 496px) {
    div section.section-container {
        padding: 1em !important;
    }
    .section-container .video-frame {
        height: 20em !important;
    }
    .profile {
        flex-flow: column wrap !important
    }
    .profiles .profile img {
        width: 40% !important;
        margin-right: 0 !important;
    }
    .profile .text-block {
        width: 100% !important;
    }
    .container-fluid .info-container {
        padding: 3em 0em !important;
    }
    .info-container .img-block img {
        height: auto !important;
    }
    .banner-container {
        height: 13em !important;
    }
    .banner-container h1 {
        font-size: 24px !important;
    }
    .location-text h5 {
        font-size: 13px !important;
    }
}

@media (max-width: 767px) {
    section.section-container {
        padding: 2em 1em !important;
    }
    .profiles {
        flex-flow: column wrap !important;
    }
    .profiles img {
        width: 30% !important;
        height: auto !important;
    }
    .img-block {
        margin-top: 3em;
    }
    .info-container .col-sm-4:first-child .img-block,
    .info-container .col-sm-6:first-child .img-block {
        margin-top: 0 !important;
    }
    .info-container .img-block {
        padding: 0;
    }
    body>div[ng-view] {
        margin-top: 11rem !important;
    }
    .section-container h3 {
        font-size: 1.2em;
    }
    .section-container h4 {
        font-size: 1em;
    }
}

@media (max-width: 992px) {
    .video-frame {
        height: 30em !important;
    }
    .profiles {
        flex-flow: column wrap !important;
    }
    .profiles .col-sm-6 {
        width: 100% !important;
    }
    .profiles img {
        width: 20% !important;
        margin-right: 1em;
    }
    .info-container {
        padding: 4em 4em !important;
    }
    .img-block {
        padding: 0em !important;
    }
    .img-block img {
        height: auto !important;
        width: 60%;
    }
}

@media (max-width: 1200px) {
    .section-container {
        padding: 3em !important;
    }
    .info-container {
        padding: 4em 4em !important;
    }
    div[ng-view] {
        margin-top: 8.6em !important;
    }
    .video-frame {
        width: 100% !important;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

.padding-top {
    padding-top: 25px;
}

div[ng-view] {
    margin-top: 9.67em;
}

div[ng-view]>div {
    background-color: #f5f5f5;
}

div[ng-view] .banner-container {
    animation: slide-in-down 500ms ease-in 700ms both;
}

section {
    position: relative;
    overflow: hidden;
}

.banner-container {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 18em;
    overflow: hidden;
}

.banner-container h1 {
    margin: auto;
    color: #ffffff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .6);
}

.section-container {
    padding: 4em 8em;
    background-color: #f5f5f5;
}

.container-blue {
    background-color: #137cbf;
}

.container-orange {
    background-color: #ec8927;
}

.container-green {
    background-color: #75b743;
}

.container-white {
    background-color: white;
}

.video-frame {
    text-align: center;
    height: 40em;
    position: relative;
    overflow: hidden;
    position: relative;
    display: block;
    margin: auto;
    width: 80%;
}

.video-frame iframe {
    height: 100%;
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
    animation: none !important;
}

.profiles {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    margin-top: 1em;
}

.profile img {
    width: 30%;
    height: auto;
    border-radius: 200px;
}

.profile .text-block {
    margin: 1em;
    width: 70%;
}

.info-container {
    padding: 4em 10em;
}

.img-block {
    text-align: center;
    display: block;
    padding: 0 1em;
}

.img-block h3 {
    color: white;
}

.img-block img {
    height: 15%;
    margin: 1em 0 2em 0;
}

.img-block p {
    color: white;
    font-size: 1.2em;
}

.video-overlay {
    width: 100%;
    position: absolute;
    cursor: pointer;
    background-size: 10%, cover, cover;
    background-position: center, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 200;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.6);
}

.video-overlay.ng-hide {
    animation: fade-out 700ms ease-in forwards !important;
}

.hide-nav-btn {
    visibility: hidden;
}

.show-nav-btn {
    visibility: visible;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
    position: relative;
    max-height: 12em;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.card .card-image-top {
    width: 100%;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-overlay h2 {
    color: white;
    text-align: center;
}

.locations {
    display: flex;
    justify-content: center;
    align-items: center;
}

.locations .location-text {
    margin-top: 1em;
    color: white;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.locations .slides-nav {
    background-color: transparent;
    padding: 0.45em 0.65em 0.75em 0.65em;
    border: 0;
    border-radius: 100px;
}

.locations .slides-nav i {
    font-size: 24px;
}

.locations .slides-nav:focus {
    outline: 0;
}

.locations .slides-nav:hover {
    background-color: #137cbf;
    outline: 0;
    color: white;
}

.locations .location-text h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.locations .location-text h4 {
    margin-top: 5px;
}

.locations .location-text {
    padding: 1em;
}

.locations .location-text:hover {
    cursor: pointer;
}

.locations .active-loc,
.locations .location-text:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0;
    background-color: white;
    border-radius: 3px;
}

.locations .location-text:hover h4,
.locations .location-text:hover h5,
.locations .active-loc h4,
.locations .active-loc h5 {
    color: #333;
}

.ng-map-info-window {
    animation: zoom-in-up 400ms ease-out both;
}

.text-white {
    color: white !important;
}