@media (max-width: 496px) {
    section.section-container {
        padding: 1em !important;
    }
    .section-container .video-frame {
        height: 20em !important;
    }
    .profile {
        flex-flow: column wrap !important
    }
    .profiles .profile img {
        width: 40% !important;
    }
    .profile .text-block {
        width: 100% !important;
    }
    .container-fluid .info-container {
        padding: 3em 0em !important;
    }
    .info-container .img-block img {
        width: 70% !important;
        height: auto !important;
    }
}

@media (max-width: 768px) {
    .section-container {
        padding: 2em 1em !important;
    }
    .profiles {
        flex-flow: column wrap !important;
    }
    .profiles img {
        width: 30% !important;
    }
    .img-block {
        margin-top: 3em;
    }
    .info-container .col-sm-4:first-child .img-block,
    .info-container .col-sm-6:first-child .img-block {
        margin-top: 0 !important;
    }
    .info-container .img-block {
        padding: 0;
    }
    .img-block img {
        height: 20% !important;
    }
}

@media (max-width: 992px) {
    .video-frame {
        height: 40em !important;
    }
    .profiles {
        flex-flow: column wrap !important;
    }
    .profiles .col-sm-6 {
        width: 100% !important;
    }
    .profiles img {
        width: 20% !important;
    }
    .info-container {
        padding: 4em 4em !important;
    }
}

@media (max-width: 1200px) {
    .section-container {
        padding: 3em !important;
        font-size: 0.9em !important;
    }
}

.padding-top {
    padding-top: 25px;
}

div[ng-view] {
    padding-top: 6em;
}

.banner-container {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 30vh;
    overflow: hidden;
}

.banner-container h1 {
    margin: auto;
    color: #ffffff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .6);
}

.section-container {
    padding: 4em 8em;
    background-color: #f5f5f5;
}

.container-blue {
    background-color: #137cbf;
}

.container-orange {
    background-color: #ec8927;
}

.container-green {
    background-color: #75b743;
}

.video-frame {
    text-align: center;
    height: 50em;
    position: relative;
}

.video-frame iframe {
    height: 100%;
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
}

.profiles {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    margin-top: 1em;
}

.profile img {
    width: 30%;
    height: auto;
    border-radius: 200px;
}

.profile .text-block {
    margin: 1em;
    width: 70%;
}

.info-container {
    padding: 4em 10em;
}

.img-block {
    text-align: center;
    display: block;
    padding: 0 1em;
}

.img-block h4 {
    color: white;
    font-weight: 500;
}

.img-block img {
    height: 15%;
    margin: 1em 0 2em 0;
}

.img-block p {
    color: white;
}

.video-overlay {
    width: 100%;
    position: absolute;
    cursor: pointer;
    background-size: 10%, cover, cover;
    background-position: center, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 200;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.6);
}
