@media (max-width: 496px) {
    h1 {
        font-size: 24px !important;
    }
    h3 {
        font-size: 18px !important;
    }
    h4 {
        font-size: 15px !important;
    }
    #boostik .section-container .preview-slides img {
        width: 75% !important;
    }
}

@media (max-width: 786px) {
    #boostik .section-container img {
        width: 100%;
    }
    #boostik .preview-slides img {
        width: 50% !important;
    }
}

@media (max-width: 1200px) {
    #boostik.img-block img {
        width: 100% !important;
        height: auto !important;
    }
}

#boostik .banner-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../img/boostik_banner_2.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, top;
}

#boostik .section-container {
    background-color: #ffffff;
}

#boostik .video-frame {
    margin-top: 3em;
}

#boostik .video-overlay {
    background-image: url("../img/play_button_sm.png"), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../img/boostik_video.jpg");
}

#boostik .preview-slides {
    display: flex;
    justify-content: center;
    align-items: center;
}

#boostik .preview-slides img {
    width: 25%;
    margin: 0 1em;
    pointer-events: none;
}

#boostik .preview-slides .slides-nav {
    background-color: transparent;
    padding: 0.45em 0.65em 0.75em 0.65em;
    border: 0;
    border-radius: 100px;
}

#boostik .preview-slides .slides-nav i {
    font-size: 24px;
}

#boostik .preview-slides .slides-nav:focus {
    outline: 0;
}

#boostik .preview-slides .slides-nav:hover {
    background-color: #137cbf;
    outline: 0;
    color: white;
}

#boostik .boost-btn {
    padding: 12px 20px ;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    display: block;
    text-align: center;
    margin: auto;
}

#boostik .boost-btn:hover {
    font-weight: 600;
}

#boostik .boost-btn:focus {
    outline: 0;
    box-shadow: none;
}

#boostik .boost-btn a:visited {
    color: white;
}
