@media (max-width: 648px) {
    #contact #maps {
        min-height: 30em !important;
    }
    #contact .section-container ng-map {
        height: 30em !important;
    }
    #contact .contact-info-sm {
        flex-flow: column wrap;
    }
    #contact .contact-info-sm .col-xs-6 {
        width: 100%;
    }
    #contact .contact-info-sm h1 {
        font-size: 24px;
    }
    #contact .contact-info-sm h3 {
        font-size: 16px;
        margin-top: 0;
    }
    #contact .contact-info-sm h4 {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    #contact .contact-info-md {
        display: none !important;
    }
}

@media (max-width: 992px) {
    #contact .contact-info-md {
        display: none !important;
    }
    #contact .contact-info-sm {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
    }
    #contact .col-md-6 h1 {
        margin-bottom: 1em !important;
    }
    #contact #direction-panel {
        position: relative !important;
        right: 0 !important;
        width: 100% !important;
        height: auto !important;
        margin-bottom: 1em;
    }
}

#contact .banner-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), url("../img/contact_banner.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, 0% 80%;
}

#contact .locations .location-text {
    margin-bottom: 1em;
    margin-top: 0em;
}

#contact .locations .location-text h4,
#contact .locations .location-text h5 {
    color: #333;
}

#contact #maps {
    min-height: 40em;
    position: relative;
}

#contact ng-map {
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.6);
    height: 40em;
}

#contact .col-md-6,
#contact .col-md-4,
#contact .col-xs-6 {
    text-align: center;
}

#contact .col-md-6 h1 {
    margin-bottom: 1em;
}

#contact .col-md-4 h4 {
    margin-top: 1em;
}

#contact #direction-map,
#contact #index-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#contact #index-map {
    z-index: 5;
}

#contact .map-hidden {
    opacity: 0;
    height: 0%;
}

#contact .map-show {
    opacity: 1;
    height: auto;
    position: relative !important;
}

#contact #direction-panel {
    position: absolute;
    top: 11;
    right: 11;
    height: 30em;
    padding: 1em;
    border-radius: 2px;
    background-color: rgba(255,255,255,.8);
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px 0px;
    overflow: auto;
    width: 30%;
}

#contact #direction-btn {
    direction: ltr;
    overflow: hidden;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 5;
    left: 5;
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 11px;
    padding: 8px;
    border-radius: 2px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px 0px;
    min-width: 22px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
}

/* ANIMATIONS */
/* 
#contact .map-hidden {
    animation: fade-out 500ms ease-in;
}

#contact .map-show {
    animation: fade-in 500ms ease-in 500ms;
} */

#contact .map-show,
#contact .map-hidden {
    transition: 500ms linear all;
}

#contact #index-map.ng-hide-add-active {
    animation: fade-out 500ms ease-in;
}

#contact #index-map {
    animation: fade-in 500ms ease-out both;
}

#contact #direction-btn.ng-hide-remove-active {
    animation: fade-in 300ms ease-out;
}

#contact .locations .location-text.ng-enter {
    animation: fade-in-pulse 800ms ease-out both;
}

#contact .locations {
    animation: fade-in 500ms ease-out 1s both;
}

#contact .locations .slides-nav {
    animation: fade-in 500ms ease-out 1.3s both;
}

#contact #maps {
    animation: fade-in 500ms ease-out 1.4s both;
}