@media (max-width: 320px) {
    .navbar-logo {
        display: none !important;
    }
    .show-xxs {
        display: block !important;
    }
    .navbar-brand {
        font-size: 32px;
        margin: 0.3em;
    }
}

@media (max-width: 496px) {
    .navbar-logo {
        padding-top: 0.5em;
        height: 4.5em !important;
    }
    #languages {
        display: none !important;
    }
    #collapsed-languages {
        display: block !important;
    }
    .collapsed-menu li {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        display: none;
    }
    .navbar-logo {
        margin-left: 20px !important;
    }
    #languages {
        display: block;
        margin: 0;
    }
    .nav #languages-dropdown {
        margin-right: 0 !important;
    }
}

@media (min-width: 768px) {
    .collapsed-menu {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .navbar {
        height: 5em !important;
    }
    .navbar .container-fluid {
        padding: 0 !important;
    }
    .navbar-nav {
        float: right !important;
    }
    .navbar-nav #services-dropdown .dropdown-menu {
        left: -55%;
    }
    .navbar-logo {
        padding-top: 0em;
        height: 4em !important;
    }
    .navbar .navbar-nav li a {
        padding: 25px 10px;
    }
    #languages-dropdown {
        margin-right: 1em;
    }
    .navbar #languages-dropdown button {
        margin: 18px 5px;
    }
    .navbar #languages-dropdown .dropdown-menu {
        left: -44% !important;
        top: 80% !important;
        position: absolute;
    }
}

.show-xxs {
    display: none;
}

.navbar {
    height: 6em;
    border-radius: 0;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    border: none;
    margin-bottom: 0;
}

.navbar .container-fluid {
    padding: 0 8em;
}

.navbar img {
    height: 5em;
    margin: 0.5em;
}

.navbar-header a {
    text-decoration: none;
    color: #333;
}

.navbar-toggle {
    margin-top: 18px !important;
}

.navbar #services-dropdown .dropdown-menu li a {
    padding: 10px 20px;
}

.navbar #languages-dropdown .dropdown-menu {
    top: 70%;
    left: 10%;
    min-width: 100px;
    max-width: 100px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.navbar #languages-dropdown .dropdown-menu li a {
    padding: 5px 10px;
}

.navbar-nav li a {
    padding: 32px 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-nav li a:hover {
    background-color: #187fc0 !important;
    color: #ffffff !important;
}

#languages-dropdown button {
    margin: 25px 10px;
}

.navbar-toggle {
    margin-right: 20px;
    margin-top: 25px;
    border: 0;
}

.collapsed-menu {
    border-top: 1px solid black;
    position: relative;
    z-index: 2;
    background-color: white;
    border: 0;
    list-style: none;
    padding: 0;
    margin: 0.5em;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

.collapsed-menu li:hover a {
    background-color: #187fc0 !important;
    color: #ffffff !important;
    font-weight: 600;
}

.collapsed-menu li a {
    padding: 1em 1em;
    display: block;
    text-decoration: none;
    color: #333;
}

.collapsed-menu .collapsed-menu {
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.collapsed-menu .btn-group-justified a {
    padding: 0.5em 0;
    border-radius: 0;
    border: 0;
}

#collapsed-languages:hover a {
    background-color: transparent !important;
    color: #333 !important;
    font-weight: 300;
}

#collapsed-languages a:hover {
    background-color: #187fc0 !important;
    color: #ffffff !important;
}

#collapsed-languages {
    display: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}