@media (max-width: 496px) {
    #home .section-container div[map-lazy-load] ng-map {
        height: 40vh !important;
    }
    #home .section-container {
        padding: 1em !important;
        font-size: 0.8em !important;
    }
}

@media (max-width: 768px) {
    .carousel-container {
        height: 40vh !important;
    }
    .carousel-caption h1 {
        font-size: 25px !important;
    }
    .carousel-caption h3 {
        font-size: 18px !important;
    }
    .slide-img.tutoring-slide {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('../img/tutoring_banner_sm.jpg') !important;
    }
    .slide-img.boostik-slide {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('../img/boostik_banner_sm.jpg') !important;
    }
    #home div[map-lazy-load] ng-map {
        height: 50vh !important;
    }
    .section-container {
        padding: 2em 1em !important;
        font-size: 0.9em !important;
    }
    #about .row {
        padding: 1em !important;
    }
}

@media (max-width: 1200px) {
    .carousel-container {
        height: 60vh !important;
    }
    .tutoring-slide {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('../img/tutoring_banner_md.jpg') !important;
    }
    .boostik-slide {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('../img/boostik_banner_md.jpg') !important;
    }
    .carousel-caption h1 {
        font-size: 35px !important;
    }
    .carousel-caption h3 {
        font-size: 20px !important;
    }
    .section-container {
        padding: 3em !important;
        font-size: 0.9em;
    }
    #about .row {
        padding: 2em !important;
    }
}

.tutoring-slide {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('../img/tutoring_banner.jpg');
}

.litmaster-slide {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('../img/litmaster_banner.jpg');
}

.boostik-slide {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('../img/boostik_banner.jpg');
}

.carousel-container {
    height: 80vh;
}

.carousel-inner .item {
    height: 100%;
}

.carousel-inner .item img {
    min-height: 100%;
}

.carousel-control {
    background-image: none !important;
    width: 10%;
}

.carousel-caption {
    bottom: 50%;
    padding: 0;
}

.slide-img {
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-caption h1 {
    font-size: 45px;
}

.section-container {
    padding: 4em 8em;
}

.container-blue {
    background-color: #137cbf;
}

.container-orange {
    background-color: #ec8927;
}

.container-green {
    background-color: #75b743;
}

#home #contact .text-block {
    color: white;
    text-align: center;
}

#home ng-map {
    height: 60vh;
}

#about .row {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 5em;
}

#about .col-lg-6 {
    font-size: 1.2em;
}

#about .col-lg-6:first-child {
    text-align: center;
}

#about .col-lg-6 img {
    width: 30%;
    margin-bottom: 1em;
}

