#hubble .slide-img {
    background-size: cover;
    background-position: top;
}

#hubble .home-slide {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('../img/hubble/hubble_home.png');
}

#hubble .finance-slide {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('../img/hubble/hubble_finance.png');
}

#hubble .track-slide {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('../img/hubble/hubble_track.png');
}

#hubble .students-slide {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('../img/hubble/hubble_students.png');
}