@media (max-width: 496px) { 
    h1 {
        font-size: 24px !important;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 992px) {
    
}

#litmaster .banner-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../img/litmaster_banner_5.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, 50% 75%;
}

#litmaster .lit-btn {
    padding: 12px 20px ;
    background-color: #75b743;
    color: white;
    font-size: 16px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
}

#litmaster .lit-btn:hover {
    background-color: yellow;
}

#litmaster .lit-btn:hover a {
    color: #333;
}

#litmaster .lit-btn a {
    color: white;
}

#litmaster .lit-btn a:hover {
    text-decoration: none;
}

#litmaster .lit-btn a:visited {
    color: white`;
}

#litmaster .video-overlay {
    background-image: url("../img/play_button_sm.png"), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../img/litmaster_video.jpg");
}