@media (max-width: 496px) {
    #litmaster .img-block img {
        width: 30% !important;
        margin: 0.5em 0 1em 0;
    }
    #litmaster .section-container h1 {
        font-size: 1.6em !important;
    }
}

@media (max-width: 768px) {
    #litmaster .video-frame {
        margin-top: 1em !important;
    }
}

@media (max-width: 992px) {}

#litmaster .banner-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../img/litmaster_banner_5.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, 50% 75%;
}

#litmaster .lit-btn {
    padding: 12px 20px;
    background-color: #75b743;
    color: white;
    font-size: 16px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

#litmaster .lit-btn:hover {
    background-color: yellow;
}

#litmaster .lit-btn:hover a {
    color: #333;
}

#litmaster .lit-btn a {
    color: white;
}

#litmaster .lit-btn a:hover {
    text-decoration: none;
}

#litmaster .lit-btn a:visited {
    color: white;
}

#litmaster .video-overlay {
    background-image: url("../img/play_button_sm.png"), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../img/litmaster_video.jpg");
}


/* ANIMATIONS */

#litmaster .section-container.text-center h1 {
    animation: fade-in 500ms ease-out 1s both;
}

#litmaster .lit-btn {
    animation: fade-in-bounce 500ms ease-out 1.3s both;
}

#litmaster .video-frame {
    margin-top: 3em;
}

#litmaster .video-frame:before {
    content: "";
    border-radius: 10px;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 250%;
    z-index: 201;
    animation: rotate-left 2s ease-out 1.6s both;
}

#litmaster .video-frame:after {
    content: "";
    border-radius: 10px;
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 250%;
    z-index: 201;
    animation: rotate-right 2s ease-out 1.6s both;
}

#litmaster .video-frame .video-overlay {
    animation: fade-in 500ms ease-out 1.7s both;
}

#litmaster .img-block img {
    animation: fade-in 500ms ease-out 2.5s both;
}

#litmaster .img-block h4,
#litmaster .img-block p {
    animation: fade-in 500ms ease-out 2.8s both;
}

#litmaster .page-header {
    animation: fade-in 500ms ease-out 3s both;
}

#litmaster .col-sm-6:first-child .profile {
    animation: fade-in-left 500ms ease-out 3.3s both;
}

#litmaster .col-sm-6:nth-child(2) .profile {
    animation: fade-in-right 500ms ease-out 3.3s both;
}
