<div id="contact" ng-init="vm.loadLocations()">
    <section class="banner-container">
        <h1 class="text-uppercase">Contact Us</h1>
    </section>
    <section class="section-container">
        <div class="locations" ng-swipe-left="vm.nextSlide()" ng-swipe-right="vm.prevSlide()">
            <button class="slides-nav" ng-click="vm.prevSlide()" ng-class="{'hide-nav-btn': vm.numLocations >= vm.locations.length}"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <div class="location-text" ng-repeat="l in vm.activeLocations" ng-click="vm.showDetailCenter(e, l, $index)" ng-class="{'active-loc': l == vm.loc}">
                <h4 class="text-uppercase"><strong>{{l.name}}</strong></h4>
                <h5>{{l.address}}</h5>
                <h5>{{l.address2}}</h5>
                <h5>{{l.phone}}</h5>
                <h5>{{l.email}}</h5>
                <h5 class="padding-top">{{'MON_TO_THURS' | translate}}: {{l.hoursMT}}</h5>
                <h5>{{'SATURDAY' | translate}}: {{l.hoursSa}}</h5>
                <h5>{{'SUNDAY' | translate}}: {{l.hoursSu}}</h5>
            </div>
            <button class="slides-nav" ng-click="vm.nextSlide()" ng-class="{'hide-nav-btn': vm.numLocations >= vm.locations.length}"><i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
        <div id="maps">
            <div ng-show="!vm.showDirection" id="index-map">
                <button id="direction-btn" ng-click="vm.showDirection = true" ng-show="vm.loc">Get Directions</button>
                <ng-map id="map" center="{{vm.mapCenter}}" zoom="12" map-type-control="false" scrollwheel="false">
                    <marker id="datapi-{{$index}}" position="{{l.lat}}, {{l.lng}}" ng-repeat="l in vm.locations" on-click="vm.showDetail(l, $index)"></marker>
                    <info-window id="datapi-info">
                        <div>
                            <h4 class="firstHeading">{{vm.loc.name}}</h4>
                            <p>{{vm.loc.address}}
                                <br>{{vm.loc.address2}}
                                <br>English/Tiếng Việt: {{vm.loc.phone}}
                                <br><span ng-show="vm.loc.phone2">中文: {{vm.loc.phone2}}</span>
                            </p>
                        </div>
                    </info-window>
                </ng-map>
            </div>
            <div id="direction-map" ng-class="{'map-show': vm.showDirection, 'map-hidden': !vm.showDirection}">
                <button id="direction-btn" ng-click="vm.showDirection = false"><i class="glyphicon glyphicon-chevron-left"></i> Return</button>
                <ng-map map-type-control="false" scrollwheel="false">
                    <directions draggable="true" travel-mode="{{vm.travelMode}}" origin="current-location" destination="{{vm.destAddr}}" panel="direction-panel"></directions>
                </ng-map>
                
            </div>
            <div id="direction-panel" ng-show="vm.showDirection">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button class="btn btn-default" ng-model="vm.travelMode" uib-btn-radio="'DRIVING'">Driving</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default" ng-model="vm.travelMode" uib-btn-radio="'TRANSIT'">Transit</button>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</div>
