<div id="tutoring">
    <section class="banner-container">
        <h1 class="text-uppercase">Tutoring</h1>
    </section>
    <section class="section-container text-center">
        <h3>{{ 'TUTORING_HEAD' | translate }}</h3>
        <div class="video-frame">
            <div class="video-overlay" ng-hide="vm.hideOverlay" ng-click="vm.scrolltoVideo()"></div>
            <iframe ng-src="{{ vm.videoSrc() | trustAsResourceUrl }}" frameborder="0" allowfullscreen align="middle" ng-if="vm.hideOverlay"></iframe>
        </div>
    </section>
    <section class="container-fluid container-green">
        <div class="info-container text-center">
            <h2>{{ 'TUTORING_TRIAL' | translate }}</h2>
            <h2>{{ 'TUTORING_SLOGAN' | translate }}</h2>
        </div>
    </section>
    <section class="container-fluid container-orange">
        <div class="info-container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="img-block">
                        <img src="assets/img/tutoring_tutoring.png" alt="">
                        <p>{{ 'TUTORING_BLOCK_1' | translate }}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-block">
                        <img src="assets/img/tutoring_pricing.png" alt="">
                        <p>{{ 'TUTORING_BLOCK_2' | translate }}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-block">
                        <img src="assets/img/tutoring_visit.png" alt="">
                        <p>{{ 'TUTORING_BLOCK_3' | translate }}</p>
                    </div>
                </div>
            </div>
    </section>
    <section class="container-fluid container-blue">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h3>{{ 'TUTORING_BENE' | translate }}</h3>
                <ul>
                    <li><h4>{{ 'TUTORING_BENE_1' | translate }}</h4></li>
                    <li><h4>{{ 'TUTORING_BENE_2' | translate }}</h4></li>
                    <li><h4>{{ 'TUTORING_BENE_3' | translate }}</h4></li>
                    <li><h4>{{ 'TUTORING_BENE_4' | translate }}</h4></li>
                </ul>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </section>
    <section class="section-container text-center">
        <h3>{{ 'TUTORING_FOOT_1' | translate }}</h3>
        <h3>{{ 'TUTORING_FOOT_2' | translate }}</h3>
    </section>
    </div>
