<div id="about">
    <section class="banner-container">
        <h1 class="text-uppercase">About Us</h1>
    </section>
    <section class="section-container">
        <div class="container" id="about-text">
            At DataPi, we provide highly trained tutors to work with students who struggle or wish to excel in English, French, Math, Sciences, Social Studies, or simple coding. We also work with camp facilitators to provide half-day or full-day camps filled with engaging activities such as robo-construction and physical play complemented with high value STEM activities such as Coding, Math, Science, and English. As part of our core competence, we build specialized apps and offer these tools to our tutors and instructors. These tools enable us to quickly customize and personalize the solutions needed to address your child's specific needs.
            <br>
            <br>
            <strong>Why choose DataPi?</strong>
            <br><br>
            <div style="margin-left: 3rem">
                <strong>We are sincere, affordable, and passionate about your child's success.</strong>
                <br><br>
                At DataPi, we understand that every child has very specific needs and challenges. Often what is truly required is one-on-one support from an experienced tutor, which many parents falsely believe they cannot afford. Unlike many other tutoring centres, you will not see our staff wasting your child's valuable time and money chasing down a few distracted students working in a large group. At DataPi, parents can expect their child to be tutored one-on-one or with only one other student to help lower your cost while still receiving quality tutoring services. Check out our quality tutoring and affordable rates starting at $95 per month. Feel free to book 2 free trial classes with no hidden obligation.
                <br><br>
            </div>
            <strong>How do we achieve results in the shortest time possible?</strong>
            <br><br>
            <div style="margin-left: 3rem">
                <strong>We consistently provide you with highly trained tutors.</strong>
                <br><br>
                Are you aware of the tutoring industry’s dirty little secret? Tutoring is an unregulated industry plagued with many educators lacking experience. Year after year, DataPi has constantly refined the "Train-the-Trainer" program to guarantee that the tutors we provide our students with are highly specialized, trained, and screened. Thus, optimal assistance can be provided to our students more consistently. This enables us to attract passionate educators and supplement their skills by applying a combination of DataPi’s training and results-driven tutoring system, giving your child an educational edge. Furthermore, we aid your child by prescribing to the BC learning outcomes set out by the Ministry of Education to ensure that your child gets the most specialized help available.
                <br><br>
                <strong>We build proven education apps.</strong>
                <br>
                <br>
                Today’s best and most effective surgeons work with the latest technology and surgical tools. Without a doubt, after-school support programs can also benefit greatly from the infusion of not only the latest, but proven and highly tested digital resources. At DataPi, we build proven software apps so tutors can instantly and easily access the most relevant resources or tutoring-specific content (be it a practice quiz, test, or specialized, high-impact resources). Simply, we believe tutoring facilitators must have access to dedicated apps that enhance their day-to-day operations.
            </div>
        </div>
        <div class="container text-center" id="about-text">
            <h3>SEEING IS BELIEVING!</h3>
            <h3>CALL DATAPI & REGISTER FOR UP TO 2 FREE TRIAL CLASSES.</h3>
        </div>
    </section>
</div>
